/*
    Clases relacionadas a la sidebar (barra lateral) de la vista Welcome#index
*/

.sidebar-nav {
	padding-top: 1em;
	overflow: hidden;
}

.sidebar-nav-right {
	margin-right: 5em;
	position: absolute;
	padding-top: 1em;
	overflow: auto;
}

.sidebar-nav-products {
	padding-top: 1em;
	overflow: visible;
}

