<h3>Para completar la compra presione el boton 'COMPRAR'</h3>
<a href="<%=@preference['response']['sandbox_init_point']%>" name="MP-Checkout" class="btn btn-success">COMPRAR</a>
<script type="text/javascript" src="//resources.mlstatic.com/mptools/render.js"></script>

